<h1>Admin::Dashboard#show</h1>
<div class="alert alert-info" role="alert">
  Total number of products in database: <%= @product_count%>
</div>

<div class="alert alert-info" role="alert">
  Total number of categories in database: <%= @category_count%>
</div>