<h1>Admin::Dashboard#show</h1>

<ul>
  <li class="alert alert-info" role="alert"><a href="/admin/products">Products (<%= @product_count %>)</a>
  <li  class="alert alert-info" role="alert"><a href="/admin/products">Categories (<%= @category_count %>)</a>
</ul>

